/* Reset CSS */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
article,
footer,
header,
main,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif; */
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-break: break-word;
  white-space: pre-wrap;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

button,
select,
input,
textarea {
  border: 0;
  outline: 0;
  background-color: transparent;
  /* font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif; */
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
}
