.sky_image {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  z-index: 100;
  object-fit: contain;
  object-position: top;
  background: repeating-linear-gradient(
    156deg,
    #b39d7f 0px,
    #9f927e 25px,
    #b09d82 55px,
    #9c907f 80px,
    #bba78a 120px
  );
}
