.section5 {
  position: relative;
  padding: 0 20px;
  font-family: "omyu_pretty", sans-serif;
}

.come {
  text-align: center;
  font-size: 26px;
  padding-top: 100px;
  font-family: "Ownglyph_corncorn-Rg", sans-serif;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 20px;
  color: #444;
}

#map {
  max-width: 320px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0 auto;
  font-family: "GangwonEduSaeeum_OTFMediumA", sans-serif;
}

.customoverlay {
  background-color: #ff4ca5;
  padding: 5px 10px;
  border-radius: 10px;
}

.customoverlay a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.heart {
  text-align: center;
  font-size: 26px;
  font-family: "Ownglyph_corncorn-Rg", sans-serif;
}

.heart_list {
  list-style: none;
  display: block;
  position: relative;
  box-shadow: rgba(217, 217, 217, 0.6) 0px 0px 10px 0px;
  border-radius: 12px;
  margin: 30px 0 50px;
  background-color: #faf8f6;
  border: 1px solid rgb(241, 241, 241);
}

.heart_list_item {
  padding: 18px;
}

.heart_list_item:first-child {
  border-bottom: 1px solid rgb(217, 217, 217);
}

.heart_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown-arrow {
  transition: transform 0.8s ease;
  transform: rotate(0deg);
}

.account_menu {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
  position: relative;
  z-index: 10;
}

.account_menu.active {
  max-height: 200px; /* 충분한 높이로 설정 */
}

.account_item {
  padding-top: 20px;
}

.account_item + .account_item {
  padding-top: 14px;
}

.account_item_detail {
  display: flex;
  gap: 14px;
  line-height: 22px;
}

.copy_button {
  color: #444;
  border: 1px solid #444;
  border-radius: 10px;
  font-size: 10px;
  padding: 4px 8px;
  box-shadow: rgba(217, 217, 217, 0.6) 0px 0px 30px 0px;
}

.map_links_wrapper {
  padding-top: 24px;
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.map_link {
  display: inline-block;
  border: 1px solid black;
  border-radius: 12px;
  padding: 2px 10px;
  box-shadow: rgba(217, 217, 217, 0.6) 0px 0px 10px 0px;
  box-sizing: border-box;
  height: 34px;
}

.map_link.kakao {
  background-color: #fee500;
}

.map_link.naver {
  background-color: #03cf5d;
}

.map_link.google {
  background: linear-gradient(135deg, #4285f4 0%, #34a853 50%, #fbbc05 100%);
}

.map_link_svg {
  margin-top: 2px;
}

.map_link_text {
  display: inline-block;
  font-size: 18px;
  vertical-align: top;
  padding: 4px 0 0 4px;
}

.line {
  height: 1px;
  background-color: #d3d3d3;
  margin: 60px 30px;
}

.tip_container {
  margin: 40px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.tip {
  font-size: 18px;
}

.tip_text_container {
  padding: 0 20px;
  text-align: center;
}

.tip_text {
  font-size: 16px;
  letter-spacing: 1.5px;
  color: #444;
  word-break: keep-all;
  line-break: strict;
  overflow-wrap: anywhere;
  hyphens: none;
  text-align: center;
  line-height: 1.4;
}

.check_icon {
  fill: #3fb950 !important;
}

.check_icon path {
  fill: #3fb950 !important;
}

.location_copy_button {
  color: #444;
  margin-left: 10px;
  border: 1px solid #444;
  border-radius: 10px;
  font-size: 10px;
  padding: 4px 8px;
  box-shadow: rgba(217, 217, 217, 0.6) 0px 0px 30px 0px;
}

.account_number {
  width: 120px;
}

.blessing_text {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #444;
  word-break: keep-all;
}
