.section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  width: 100%;
  height: 100vh;
  background-color: #f2ede7;
}

.image-wrapper-row1 {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.image-wrapper-row2 {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.image-wrapper-row1 > img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  display: inline-block;
  border-radius: 8px;
}

.image-wrapper-row2 > img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  display: inline-block;
  border-radius: 8px;
}

/* 갤러리 */

/*=============== GALLERY ===============*/
.gallery {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.gallery__card {
  position: relative;
  width: 100%;
  height: 360px;
}

.gallery__img,
.gallery__card::after,
.gallery__data {
  position: absolute;
}

.gallery__img {
  transition: transform 0.3s;
  width: 100%;
  height: 100%;
}

.gallery__overflow {
  position: relative;
}

.gallery__thumbnail {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 1.5rem;
  overflow: hidden;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s;
}

.gallery__thumbnail-img {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/* Swiper class */
.gallery-cards,
.gallery-thumbs {
  width: 260px;
}

.gallery .swiper-wrapper {
  padding: 2.5rem 0;
}

.gallery-thumbs {
  height: 132px;
}

/* Active thumbnail */
.swiper-slide-active .gallery__thumbnail {
  transform: translateY(-1.25rem) scale(1.2);
}

/* Rotate thumbnail */
.swiper-slide-next .gallery__thumbnail {
  transform: rotate(15deg);
}

.swiper-slide-prev .gallery__thumbnail {
  transform: rotate(-15deg);
}

/* Sliding numbers */
.swiper-pagination-fraction {
  font-size: var(--small-font-size);
  letter-spacing: -1px;
  font-weight: 500;
  color: var(--first-color);
  bottom: 0;
}

/* Arrow buttons */
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  font-size: 1.5rem;
  color: var(--text-color-black);
  top: 5.5rem;
}

.swiper-button-next {
  right: -1.5rem;
  transform: rotate(15deg);
}

.swiper-button-prev {
  left: -1.5rem;
  transform: rotate(-15deg);
}

/* Other swiper settings */
.gallery-cards::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: initial;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

/* For medium devices */
@media screen and (min-width: 1024px) {
  .gallery__card {
    width: 220px;
    height: 290px;
  }
  .gallery__thumbnail {
    width: 65px;
    height: 65px;
  }
  .gallery-cards,
  .gallery-thumbs {
    width: 280px;
  }
}
