.section5 {
  padding: 0 20px;
}

.come {
  text-align: center;
  font-size: 26px;
  padding-top: 150px;
}

.name-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.main-name {
  font-size: 20px;
}

.sub-name {
  font-size: 16px;
}

#map {
  max-width: 320px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0 auto;
}

.customoverlay {
  background-color: #ff4ca5;
  padding: 5px 10px;
  border-radius: 10px;
}

.customoverlay a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  letter-spacing: 1.5px;
}
