.image-counter {
  position: fixed;
  bottom: 100px;
  color: #fff;
  left: 50%;
  /* transform: translateX(-50%); */
  margin-left: -8px;
  font-size: 24px;
  width: 200px;
}

.skip-gallery {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 50%;
  border: 0;
  background-color: transparent;
  margin-left: -10px;
  opacity: 0;
}

.skip-gallery-icon {
  width: 25px;
  height: 45px;
  border-radius: 15px;
  position: relative;
  border: 2px solid #dedede;
  text-align: center;
}

.skip-gallery-icon span {
  width: 3px;
  height: 8px;
  margin: 2px auto 0;
  display: block;
  background: #dedede;
  border-radius: 5px;
  -webkit-animation: 1.2s ease infinite wheel-up-down;
  animation: 1.2s ease infinite wheel-up-down;
}

@-webkit-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}

@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}
