@font-face {
  font-family: "NanumDdaAgDanDan";
  src: url("../font/NanumDdaAgDanDan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "NanumDdaAgDanDan", sans-serif;
}

main {
  overflow: hidden;
}
